* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: rgb(245, 245, 245);
}

.container {
	display: grid;
	grid-template-areas:
		"header header header header"
		"sidebar main main main"
		"footer footer footer footer";
	min-height: 100vh;
}