@use 'variaveis';
@use 'mixins';

.content {
    grid-area: main;
    padding: 1.25rem;
    text-align: center;
    margin: 0.5rem;
}

.section {
    margin: 0 auto 1.25rem auto;
    background-color: variaveis.$section-background-color;
    width: 90%;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1.25rem;
    @include mixins.box-shadow;

    &__title {
        font-size: 2rem;
        color: variaveis.$title-color;
    }

    &__paragraph {
        font-size: 1.25rem;
        color: variaveis.$paragraph-color;
        margin-bottom: 1.25rem;
    }

    &__img {
        width: 80%;
        border-radius: 0.5rem;
    }

    &__subtitle {
        font-size: 1.75rem;
        color: variaveis.$subtitle-color;
        ;
        margin-bottom: 1rem;
    }

    &__subtitle-3 {
        font-size: 1.5rem;
        color: variaveis.$topic-title-color;
        margin-bottom: 1rem;
    }

    &--servicos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "title title title"
            "text text text"
            "title-img1 title-img2 title-img3"
            "img1 img2 img3";
        margin-bottom: 1.25rem;
    }

    &__img--grid {
        justify-self: center;
        width: 10rem;
        height: 10rem;
        border: black solid 0.05rem;
        border-radius: 50%;
    }

    &__subtitle--servicos {
        grid-area: title;
    }

    &__paragraph--servicos {
        grid-area: text;
    }

    &__img--grid--1 {
        grid-area: img1;
    }

    &__img--grid--2 {
        grid-area: img2;
    }

    &__img--grid--3 {
        grid-area: img3;
    }

    &__subtitle-3--1 {
        grid-area: title-img1;
    }

    &__subtitle-3--2 {
        grid-area: title-img2;
    }

    &__subtitle-3--3 {
        grid-area: title-img3;
    }

    &--contato {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    &__label {
        width: 50%;
        @include mixins.label;
    }

    &__input {
        width: 50%;
        @include mixins.input;
    }
}



.button {
    padding: 0.75rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0.5rem auto 1.25rem auto;

    &--form {
        width: 20%;
        background-color: variaveis.$button-background-color;
        color: white;
        transition: variaveis.$transition-duration;
        &:hover {
            background-color: variaveis.$button-background-color-hover;
        }
    };
}