@use 'variaveis';

@mixin a-link {
	display: block;
	color: rgb(120, 120, 120);
	text-decoration: none;
}

@mixin a-link-hover {
	text-decoration: underline;
	cursor: pointer;
	color: rgb(30, 30, 30);
}

@mixin label {
    text-align: left;
	font-weight: bold;
	color: rgb(50, 50, 50);
	margin: 0.5rem auto 0.25rem auto;
}

@mixin input {
    padding: 0.5rem;
	border: 1px solid rgb(200, 200, 200);
	border-radius: 0.25rem;
	font-size: 1rem;
	margin: 0.5rem auto 1.25rem auto;
}

@mixin button {
    text-align: center;
	padding: 0.75rem;
	border: none;
	border-radius: 0.25rem;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	margin: 0.5rem auto 1.25rem auto;
}

@mixin centered-content {
    position: relative;
	left: 50%;
	transform: translateX(-50%);
}

@mixin box-shadow {
    box-shadow: variaveis.$box-shadow;
}