@use 'variaveis';
@use 'mixins';

.sidebar {
    grid-area: sidebar;
    width: 100%;
	margin-top: 1rem;
	padding: 1.25rem;
	text-align: start;
	border-radius: 0.5rem;
	background-color: none;
    &:has(&__checkbox:checked) {
        background-color: rgb(250, 250, 250);
        transition: background-color variaveis.$transition-duration;
    };

    &__icon {
	font-size: 1.5rem;
	color: variaveis.$link-color;
	transition-duration: variaveis.$transition-duration;
	border: rgb(80, 80, 80) solid 0.05rem;
	border-radius: 0.25rem;
	padding: 0.25rem 0.5rem;
    &:hover {
        color: rgb(240, 240, 240);
        transform: scale(1.3);
        cursor: pointer;
        background-color: rgb(100, 100, 100);
    };
    };

    &__list {
        display: none;
        margin-top: 1rem;
        list-style: none;
        width: 100%;
        font-weight: bold;
    };

    &__checkbox {
        display: none;
    }

    &__checkbox:checked ~ &__list {
        display: block;
    };

    &__link {
        display: block;
        color: variaveis.$link-color;
        text-decoration: none;
        line-height: 2.5rem;
    };

    &__link:hover {
        text-decoration: underline;
        cursor: pointer;
        color: variaveis.$link-hover-color;
    };
}

