$main-background-color: rgb(245, 245, 245);
$section-background-color: rgb(250, 250, 250);


$title-color: rgb(80, 80, 80);
$subtitle-color: rgb(100, 100, 100);
$topic-title-color: rgb(27, 170, 170);
$paragraph-color: rgb(100, 100, 100);
$link-color: rgb(120, 120, 120);
$link-hover-color: rgb(30, 30, 30);
$label-color: rgb(50, 50, 50);

$button-background-color: rgb(27, 170, 170);
$button-background-color-hover: #1e8f97;;

$box-shadow: 0.125rem 0.125rem 0.25rem rgb(200, 200, 200);
$transition-duration: 0.3s ease;